.root {
    main-color: rgb(237, 255, 242);
    -fx-background-color: main-color;
    -fx-background-image: url("../images/solarized-dark-wallpaper.png");
    -fx-background-size: cover;
}


.text-field {
    -fx-background-color: #0b1a1c;
    -fx-background-radius: 15;
    -fx-border-color: #00ffcc;
    -fx-border-radius: 15;
    -fx-border-width: 1;
    -fx-text-fill: #00ffcc;
    -fx-font-family: "Courier New";
}

.button {
    -fx-background-color: #00ffcc;
    -fx-background-radius: 15;
    -fx-text-fill: #0b1a1c;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.button:hover {
    -fx-background-color: #00cca3;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color:orange;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

/* Change width of scroll bar. */
.scroll-bar {
    -fx-font-size: 10px;
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #00ffcc;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
